:root {
	font-size: 16px;
}

body {
	margin: 0px;
	padding: 0px;
}

.container {
	padding: 20px;
}

button {
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 12px;
	background: steelblue;
	border-radius: 5px;
	border: 2px solid dodgerblue;
	color: white;
	text-transform: uppercase;
	box-shadow: 1px 8px 10px -4px rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 0.2s;
}

button:hover {
	background: #316896;
	cursor: pointer;
}

.close {
	background: #757575;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	border: 2px solid #606060;
}

.close:hover {
	background: #606060;
	border: 2px solid #757575;
}

.cross {
	color: rgb(100, 100, 100);
	transition: all ease-in-out 0.2s;
}

.cross:hover {
	color: #202020;
	cursor: pointer;
}

.modal {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	background: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	top: -200px;
	opacity: 0;
	transition: all ease-in-out 0.3s;
}

.modal-active {
	top: 40px;
	opacity: 1;
}

.modal-title {
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 20px 10px;
}

.modal-title h2 {
	display: inline-block;
	margin: 0px;
}

.modal-title span {
	float: right;
}

.modal-body {
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 20px 10px;
}

.modal-body p {
	margin: 0px;
}

.action-buttons {
	width: 100%;
	padding: 20px 10px;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 998;
	display: none;
}

@media screen and (max-width: 768px) {
	.modal {
		width: 80%;
	}
}