body {
	padding: 0px;
	margin: 0px;
}

.swipe-area {
    display: none;
    position: fixed;
    width: 50px;
    left: 0;
    top: 0;
    height: 100vh;
    background: transparent;
    z-index: 10000;
}

.mobilenav {
    display: none;
}

.my-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    position: fixed;
    display: none;
}

.sidebar {
	display: inline-block;
	width: 250px;
	background-image: url('../images/sidebar_bg.jpg');
	background-repeat: repeat-y;
	height: 100vh;
	top: 0px;
	position: fixed;
	overflow-x: hidden;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.3);
}

.img-res {
	width: 100%;
	height: 100%;
}

.dp {
	border-radius: 100px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#dp {
	padding-top: 40px;
}

.menu {
	padding-top: 20px;
}

.menu a {
	display: block;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: transparent;
	padding-left: 70px;
	padding-right: 150px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 0px;
	text-align: center;
	transition: all ease-in-out 0.3s;
}

.menu a:hover {
	background-color: rgba(224, 255, 249, 0.07);
}

.menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menu ul li {
/*
	background-color: transparent;
	transition: all 0.4s;
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 20px;*/
}

.menu ul li:hover {
	/*background-color: rgba(224, 255, 249, 0.07);*/
}

.active-menu {
	border-left: 5px solid #6cc644;
    color: #6cc644 !important;
	transition: all ease-in-out 0.1s;
}

.font-mina {
	font-family: 'Mina', sans-serif;
}

.sidebar-social {
    width: 100%;
    position: absolute;
    bottom: 15px;
	text-align: center;
}

.sidebar-social a {
	display: inline-block;
	color: rgba(255, 255, 255, 0.3);
	font-size: 1.5em;
	-webkit-transition: all .8s ease-in-out;
	transition: all .3s ease-in-out;
}

.sidebar-social a:hover {
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidebar-social .fa-behance-square:hover {
	color: #053eff;
}

.sidebar-social .fa-twitter-square:hover {
	color: #00aced;
}

.sidebar-social .fa-instagram:hover {
	color: #cd486b;
}

.sidebar-social .fa-github-square:hover {
	color: #6cc644;
}

.main-content {
	margin-left: 250px;
}

.about {
	background-image: url("../images/main_content_about_bg.jpg");
	width: 100%;
    padding-bottom: 50px;
}

.about h3 {
	display: inline;
	color: white;
	text-transform: uppercase;
	border-bottom: 3px solid #6cc644;
}

.about .name {
	color: white;
	font-size: 3em;
	margin: 0px;
	font-weight: bold;
}

.about .name .surname {
	font-weight: lighter;
}

.about .name .dot {
	color: #6cc644;
	font-size: 1.2em;
}

.work h3 {
    display: inline;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid #6cc644;
}

.contact h3 {
    display: inline;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid #6cc644;
}

.cards {
    padding: 20px 90px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    padding-bottom: 0px;
    transition: all ease-in-out 0.2s;
    background: snow;
    border: 5px solid rgba(0, 0, 0, 0.4);
}

.card-text {
    margin: 0px;
    padding: 0px;
    color: white;
    letter-spacing: 1.5px;
}

.card-image {
}

.card-image img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.card:hover {
    box-shadow: 0 12px 20px 0px rgba(0,0,0,0.15);
}

.font-press-start-2p {
	font-family: 'Press Start 2P', cursive;
}

.font-barcode {
	font-family: 'Libre Barcode 128 Text', cursive;
}

.font-comfortaa {
	font-family: 'Comfortaa', cursive;
}

.font-philosopher {
	font-family: 'Philosopher', sans-serif;
}

.front-end-dev {
	font-size: 1.2em;
	color: #6cc644;
	letter-spacing: 4px;
	font-weight: bold;
	margin: 0px;
}

.aboutmetext {
	color: rgba(255, 255, 255, 0.7);
}

.aboutmetext a {
	text-decoration: none;
	color: #6cc644;
}

.hiremebutton {
	margin-right: 20px;
	padding: 10px 6px;
	width: 120px;
	outline: none;
	border: none;
	background: #6cc644;
	color: white;
	font-size: 1em;
	letter-spacing: 1px;
	border-radius: 1px;
	text-decoration: none;
	text-align: center;
	transition: all ease-in-out 0.2s;
}

.contactmebutton {
	margin: 0px;
	padding: 10px 6px;
	width: 120px;
	outline: none;
	border: none;
	background: rgba(181, 204, 199, 0.5);
	color: white;
	font-size: 1em;
	letter-spacing: 1px;
	border-radius: 1px;
	text-decoration: none;
	text-align: center;
	display: inline;
	transition: all ease-in-out 0.2s;
}

.hiremebutton:hover {
	background: #4fad27;
	cursor: pointer;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
}

.contactmebutton:hover {
	background: rgba(139, 150, 135, 0.5);
	cursor: pointer;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
}

a {
	text-decoration: none;
}

.quote-icon {
	color: rgba(255, 255, 255, 0.1);
	font-size: 4em;
	margin: 0px;
	padding: 0px;
}

.quote-text {
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.7);
	margin-left: 50px;
}

.work {
	background-image: url("../images/work_bg_1.png");
	width: 100%;
    padding-bottom: 50px;
}

.contact {
    background-image: url("../images/contact_bg_1.png");
    width: 100%;
    padding-bottom: 50px;
}

.contact-form {
}

.contact-form #projectBrief {
    width: 100%;
    height: 150px;
    margin: 20px 0px;
}

.contact-form textarea {
    resize: none;
}

.contact-form [class*='col-'] {
    padding: 0px !important;
}

.contact-form #fullName {
    width: 97%;
    height: 50px;
}

.contact-form #email {
    width: 97%;
    height: 50px;
    float: right;
}

.contact-form #companyName {
    width: 97%;
    height: 50px;
}

.contact-form #position {
    width: 97%;
    height: 50px;
    float: right;
}

.contact-form .fullNameRow {
    margin: 20px 0px;
}

.contact-form label {
    color: white;
}

.contact-form #fullName {
    display: inline-block;
    margin-right: 10px !important;
}

.contact-form input, .contact-form textarea {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    padding: 5px 10px;
    color: white;
    font-family: sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 0.2s;
    border-radius: 2px;
}

.contact-form input:focus, .contact-form textarea:focus {
    box-shadow: 1px 0px 16px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(108, 198, 68, 0.3);
}

.contact-form .hiremebutton {
    width: 170px;
}

::placeholder {
    font-family: 'Mina', sans-serif;
    color: rgba(255, 255, 255, 0.2);
    transition: all ease-in-out 0.2s;
}

.text-center {
    text-align: center;
}

.success-message {
    text-align: center;
    border-radius: 8px;
    margin: 30px auto;
    color: rgba(108, 198, 68, 1);
    border: 1px solid rgba(108, 198, 68, 0.8);
    background: rgba(108, 198, 68, 0.2);
}

.danger-message {
    text-align: center;
    border-radius: 8px;
    margin: 30px auto;
    color: rgba(188, 30, 30, 1);
    border: 1px solid rgba(188, 30, 30, 0.8);
    background: rgba(188, 30, 30, 0.2);
}

/*mobiles/ below 480px*/
@media only screen and (max-width: 480px) {
    .sidebar {
        left: -260px;
        z-index: 9999;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
        transition: all ease-in-out 0.5s;
    }

    .about {
        padding-top: 49px;
        padding-bottom: 50px;
    }

    .sidebar.active-sidebar {
        left: 0px;
    }

    .main-content {
        margin-left: 0px;
    }

    .about .name {
        margin: 0px;
        text-align: center;
        font-size: 2.9em;
    }

    .about .front-end-dev {
        text-align: center;
        font-size: 1em;
    }

    .aboutmetext {
        text-align: center;
        font-size: 0.9em;
    }

    .abouttitle {
        text-align: center;
    }

    .aboutbuttons {
        text-align: center;
    }

    .hiremebutton {
        width: 100px;
        font-size: 0.9em;
    }

    .contact .hiremebutton {
        margin-left: auto;
        margin-right: auto;
    }

    .contactmebutton {
        width: 100px;
        font-size: 0.9em;
    }

    .quote-icon {
        margin-left: 10%;
    }

    .quote-text {
        text-align: center;
        font-size: 0.8em;
    }

    .menu-button {
        float: right;
        margin-right: 20px;
        margin-top: 13px;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1.3em;
        color: #6cc644;
    }

    .mobilenav {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        background: url('../images/mobilenavbar.jpg');
        opacity: 0.9;
        box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.3);
        z-index: 9997;
    }

    .sidebar-social {
        /*margin-top: 200px;*/
    }

    .swipe-area {
        display: block;
        position: fixed;
        width: 20px;
        left: 0;
        top: 0;
        height: 100vh;
        background: transparent;
        z-index: 10000;
    }

    .worktitle {
        text-align: center;
    }

    .contacttitle {
        text-align: center;
    }

    .cards {
        padding: 20px 20px;
    }

    .card {
        box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
    }

    .contact-form #fullName {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .contact-form #email {
        width: 100%;
        height: 50px;
        float: none;
    }

    .contact-form #companyName {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .contact-form #position {
        width: 100%;
        height: 50px;
        float: none;
    }

    .contact-form {
        padding: 0px 20px;
    }

    .success-message {
        text-align: center;
        border-radius: 8px;
        margin: 30px auto;
        color: rgba(108, 198, 68, 1);
        border: 1px solid rgba(108, 198, 68, 0.8);
        background: rgba(108, 198, 68, 0.2);
    }

    .danger-message {
        text-align: center;
        border-radius: 8px;
        margin: 30px auto;
        color: rgba(188, 30, 30, 1);
        border: 1px solid rgba(188, 30, 30, 0.8);
        background: rgba(188, 30, 30, 0.2);
    }
}

/*between 480px and 769px*/
@media only screen and (min-width: 480px) and (max-width: 768px) {

    .abouttitle {
        text-align: center;
    }

    .sidebar {
        left: -260px;
        z-index: 9999;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
        transition: all ease-in-out 0.5s;
    }

    .sidebar.active-sidebar {
        left: 0px;
    }

    .menu-button {
        float: right;
        margin-right: 20px;
        margin-top: 13px;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1.3em;
        color: #6cc644;
    }

    .mobilenav {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0px;
        background: url('../images/mobilenavbar.jpg');
        opacity: 0.9;
        box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.3);
        z-index: 9997;
    }

    .main-content {
        margin-left: 0px;
    }

    .about {
        padding-top: 49px;
        padding-bottom: 50px;
    }

    .about .name {
        margin: 0px;
        text-align: center;
        font-size: 2.9em;
    }

    .about .front-end-dev {
        text-align: center;
        font-size: 1em;
    }

    .aboutmetext {
        text-align: center;
        font-size: 0.9em;
    }

    .abouttitle {
        text-align: center;
    }

    .aboutbuttons {
        text-align: center;
    }

    .hiremebutton {
        width: 100px;
        font-size: 0.9em;
    }

    .contactmebutton {
        width: 100px;
        font-size: 0.9em;
    }

    .quote-icon {
        margin-left: 28%;
        text-align: center;
    }

    .quote-text {
        margin-left: 33%;
        text-align: center;
        font-size: 0.8em;
    }

    .worktitle {
        text-align: center;
    }

    .cards {
        padding: 20px 150px;
    }

    .swipe-area {
        display: block;
        position: fixed;
        width: 50px;
        left: 0;
        top: 0;
        height: 100vh;
        background: transparent;
        z-index: 10000;
    }

    .contacttitle {
        text-align: center;
    }

    .contact-form #fullName {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .contact-form #email {
        width: 100%;
        height: 50px;
        float: none;
    }

    .contact-form #companyName {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    .contact-form #position {
        width: 100%;
        height: 50px;
        float: none;
    }

    .contact-form {
        padding: 0px 20px;
    }
}

/*above 769px*/
@media only screen and (min-width: 769px) {
}