:root {
	font-size: 16px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	background: snow;
	width: 100%;
}

.box {
	width: 100%;
	border: 1px solid teal;
	border-radius: 10px;
	font-size: 1rem;
	overflow: hidden;
}

.collapse-box {
	background: dodgerblue;
	border-bottom: 1px solid teal;
}

.box .button {
	padding: 20px 40px;
}

.box a {
	padding: 5px 8px;
	color: white;
	text-decoration: none;
}

.collapse-content {
	color: rgba(0, 0, 0, 0.7);
	max-height: 0px;
	transition: all ease-in 0.2s;
}

.collapse-content p {
	margin: 0px;
	padding: 8px 20px;
}

.active {
	max-height: 500px;
}

@media screen and (min-width: 768px) {
	.active {
		max-height: 200px;
	}
}